<a href="https://colab.research.google.com/github/Encarnacion-Angel/Encarnacion-Angel/blob/main/CPE_310_Activity2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value = 5
print (value)

5

In [ ]:
type(value)

int

In [ ]:
value = 5.0
type(value)

float

In [ ]:
print(type(2+3j))
print(type('Hello World'))
print(type("Hello World"))

# Boolean means true or false / 1 or 0
print(type(True))
print(type(False))

# Iterables -> Iterate inside
print(type([1, 2, 3, 4, 5])) # lists can be changed
print(type((1, 2, 3, 4, 5))) # tuples cannot be changed
print(type({'name':'Roman Richard'}))
print(type(None))

value = 5
value2 = -6

<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'NoneType'>

In [ ]:
print(value+value2)

-1

In [ ]:
value, value2 = 5.0, 6
print(value+value2)

In [ ]:
value, value2 = -5, 6.1
print(value+value2)

1.0999999999999996

In [ ]:
value, value2 = "Hello", 'world'
print(value + " " + value2)

Hello world

In [ ]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value+value2)

[1, 2, 3, 4, 5, 6]

In [ ]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [ ]:
value, value2 = {"name":"Angel Encarnacion"}, {"age":"19"}

In [ ]:
value, value2 = 30, 4

print(value*value2)
print(value2**2)
print(value2**3)
print(value * value2 + value2**2 + 1)
print(value/value2)
print(value%value2)

120
16
64
137
7.5
2

In [ ]:
print(input("What's your name?"))

What's your name?Angel Encarnacion
Angel Encarnacion

In [ ]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))

bmi = weight / height**2

# Print all

Enter your name: Angel Encarnacion
Enter your weight(kg): 45
Enter your height(m): 1.47

Supplementary Activity:
1. Write the Python equivalent code of the following C code:
int main(){
float base = 0, height = 0, area = 0;
printf(‚ÄúEnter the base of the triangle: ‚Äú);
scanf(‚Äú%f‚Äù, &base);
printf(‚ÄúEnter the height of the triangle: ‚Äú);
scanf(‚Äú%f‚Äù, &height); area = (1/2)baseheight;
print(‚ÄúThe area of the triangle is %f‚Äù, area);
}

In [ ]:
int main(){
    float base = 0, height = 0, area = 0;
    printf("Enter base of the triangle:");
    scanf("%f", &base)
    printf("enter height of the triangle:");
    scanf("%f", &height)
    area = (1/2)*base*height;
    printf ("The area of the triangle is %f", area);
}

In [ ]:
base = float (input("Enter base of the triangle:"))
height = float (input("Enter height of the triangle:"))
area = float (input("The area of the triangle is:"))

Enter base of the triangle:25
Enter height of the triangle:27
The area of the triangle is:337.5

In [ ]:
2. Write a program that would convert Celsius to Fahrenheit given the formula: F = (C √ó 9/5) + 32
Example of conversion:
0¬∞C = 32 ¬∞F
-20¬∞C = -4 ¬∞F

In [ ]:
Celcius= float(input("Enter temperature in celsius:"))
Fahrenheit= float((Celcius*9/5+32))

print(f"{Celcius}C is equal to {Fahrenheit}F")

Enter temperature in celsius:44
44.0C is equal to 111.2F

In [ ]:
3. Write a program that can determine the distance between two points given the coordinates using the
formula:
ùíÖ = ‚àö(ùíôùüê ‚àí ùíôùüè)ùüê + (ùíöùüê ‚àí ùíöùüè)ùüê

In [ ]:
import math
x1, y1 = 2, 2
x2, y2 = -3, 3

distance = ((x2-x1))**2+((y2-y1))**2
print(f"The distance between two points given is {distance: .9f}")

The distance between two points given is  26.000000000

Questions:
1. Give one major difference in syntax that Python has with other languages such as C?

Instead of using braces or keywords to create code blocks, Python employs indentation. The block structure is determined by the indentation level. C, on the other hand, does not require indentation and instead uses braces for structure, which might result in less aesthetically pleasing code.

2. How does variable assignment differ in Python compared with other languages such as C?

C offers more control over low-level operations but necessitates explicit type declarations and manual memory handling, whereas Python's variable assignment is more dynamic and flexible but abstracts away memory management.

3. Try assigning variable names that start with numbers, and special characters. Is the assigning of variables that start with numbers accepted by Python? For Special Characters? Is there an exception for variables
special characters?

Variable names in Python cannot begin with a number or special characters where it can only begin with an underscore or a letter. containing underscores, digits, and letters. Additionally, the names are case-sensitive; for example, var and Var are not the same.

4. Do the assignment operators (+, -, *, /, %, **) work for all data types? Why or Why not?

Not all data types are compatible with Python's assignment operations. The data types involved and whether or not certain operations are defined for those kinds determine their usefulness. They behave consistently across numeric data types since they are made for arithmetic operations.

5. How does the * operator differ from the ** operator?

Depending on the situation, the (*) operator can be used for unpacking iterables, repeating sequences, and multiplying. In contrast, the (**) operator is used for unpacking dictionaries into keyword arguments and exponentiation.

7. Conclusion

Python fosters comprehension, adaptability, and dynamic behavior while upholding precise structures and conventions. It is both user-friendly for novices and robust for more complex programming since its operators and syntax are made for a variety of applications.